<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graphical stuff</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<!--    <div style="position:absolute; background: url('assets/Artboard 1@4x.png'); background-size:100% 100%;-->
<!--                width: 100vw; height: 900px; z-index: -1"></div>-->

<section class="bg-graphics">
    <div class="warning-tooltip">
        <svg width="10px" viewBox="0 0 770 639">
            <path d="M383.75 256L0 639.75h767.5L383.75 256z"/>
        </svg>
        <div style="background: black; color: #fff; padding: 2px;
                    text-align: center; border-radius: 5px;">
            Warning! Turning this on may result in high CPU usage.
        </div>
    </div>
    <div class="left-top">
        <svg viewBox="0 0 400 400" width="150" height="150">
            <circle cx="200" cy="200" r="184" stroke-dasharray="60, 130" stroke="#FFC000"
                    stroke-width="22" stroke-linecap="round" fill="transparent"/>
            <circle cx="200" cy="200" r="100" stroke="none" fill="#5B9BD5" />
        </svg>
    </div>
    <div class="top-mid">
        <svg viewbox="0 0 400 400" width="200px" height="200px">
            <defs>
                <linearGradient id="orange">
                    <stop offset="100%" stop-color="#FFB74D" />
                    <stop offset="0%" stop-color="#FFC107" />
                </linearGradient>
            </defs>
            <g transform="rotate(-30)">
                <rect x="60" y="180" width="200" height="60" rx="30" fill="none" stroke="#ccc"
                      stroke-width="3">
                    <animate attributeName="x" values="60;65;60" dur="10s" repeatCount="indefinite" />
                </rect>
                <animateTransform attributeName="transform" type="rotate" values="-30;-35;-30"  dur="30s"
                                  repeatCount="indefinite" />
            </g>
            <g transform="rotate(-50)">
                <rect x="-160" y="180" width="300" height="60" rx="30" fill="url(#orange)" stroke="#FFC107"
                      stroke-width="3" >
                    <animate attributeName="x" values="-160;-180;-160" dur="10s" repeatCount="indefinite" />
                </rect>
                <animateTransform attributeName="transform" type="rotate" values="-50;-45;-50"  dur="30s"
                                  repeatCount="indefinite"></animateTransform>
            </g>
        </svg>
    </div>
    <div class="right-bottom">
        <svg viewBox="0 0 120 120" width="150" height="150" class="triangle-svg">
            <polygon points="100,10 100,100 10,50" stroke="#ED7D31"
                     stroke-width="3" fill="transparent"
                     stroke-dasharray="16, 18" stroke-linejoin="round"></polygon>
        </svg>
    </div>
</section>

<script>
    //Eyecandy Server
    $().ready(() => {
        $('#eye-switch').change(() => {
            if ($('#eye-switch').prop("checked")) {
                $('header > nav').addClass('nav-eyecandy');
                $('.blog-section').addClass('eyecandy');
                $('.left-top > svg').addClass('spin-circle');
                $('.triangle-svg > polygon').addClass('dancing-triangle');
                $('.card').addClass('eyecandy');
            } else {
                $('header > nav').removeClass('nav-eyecandy');
                $('.blog-section').removeClass('eyecandy');
                $('.left-top > svg').removeClass('spin-circle');
                $('.triangle-svg > polygon').removeClass('dancing-triangle');
                $('.card').removeClass('eyecandy');
            }
        });
        $('.switch').hover(
            () => { $('.warning-tooltip').stop().fadeIn(300).css("display","flex");  },
            () => { $('.warning-tooltip').stop().fadeOut(300); }
        );
    });
</script>
</body>
</html>